fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
google-genai

# Database & Security
pymongo
motor
bcrypt
pyjwt
email-validator

# Data Processing
pandas
numpy

# HTTP & Serialization
httpx
orjson
python-multipart
