fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
google-genai

# Security & Validation
bcrypt
pyjwt
email-validator

# Data Processing
pandas
numpy

# HTTP & Serialization
httpx
orjson
python-multipart
